<div class="main-wrapper">
    <img class="back-image" src="/assets/images/adm01.jpg">
<div class="button-row">
    <div class="button">
        <div class="button-icon">
            <mat-icon [inline]="true">view_list</mat-icon>
        </div>
        <span class="button-title">
            <h1>Programe de studiu</h1>
        </span>
    </div>
    <div class="button-alt">
        <div class="button-icon">
            <mat-icon [inline]="true">grade</mat-icon>
        </div>
        <span class="button-title">
            <h1>Licență</h1>
        </span>
    </div>
    <div class="button">
        <div class="button-icon">
            <mat-icon [inline]="true">receipt</mat-icon>
        </div>
        <span class="button-title">
            <h1>Masterat</h1>
        </span>
    </div>
    <div class="button-alt">
        <div class="button-icon">
            <mat-icon [inline]="true">school</mat-icon>
        </div>
        <span class="button-title">
            <h1>Doctorat</h1>
        </span>
    </div>
</div>
<div class="button-spacer">

</div>
<div class="paragraph-box">
    <h1 style="text-align: center; font-size: xx-large;">
        Învață să fii în centru!
    </h1>
    <p class="paragraph-description">
        Îndrăznește să fii relevant! Pentru asta ai nevoie de curaj și de cunoaștere. Universitatea este spațiul în care le dobândești și le exersezi, fie că ești student, profesor, cercetător sau colaborator.
    </p>
    <p class="paragraph-subtitle">
        Vezi ce înseamnă să fii student la UNITBV și ce beneficii poți avea dacă devii studentul nostru.
    </p>
</div>
<div class="button-spacer">

</div>
<div class="footer">
    <img style="padding:10px; width: 100px;height: 100px" src="/assets/images/unitbvlogo.png">
<h4 style="color:darkgray; padding-top: 5%;">
    2021 Universitatea „Transilvania” din Brașov
</h4>
    
</div>

</div>

